<div class="container">
  <div class="card-body">
    <h2>Thank you for registering in Corner Food, {{user.username}}!</h2>
    <p>We have sent a confirmation email to {{user.email}}. To start experiencing Corner Food, please check your email and follow instructions to activate your account.</p>
  </div>
</div>