{{#each pedidos as |pedido|}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://res.cloudinary.com/corner-food/image/upload/v1556906538/corner-food/Corner_Food_logo_qnsc2z.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Order of {{pedido.user.username}}</h5>
        <h5 class="card-title">{{pedido.user.email}}</h5>
        <p class="card-text">{{pedido.finalPrice}}€</p>
        <form action="/admin/pedidos/{{pedido.id}}">
          <button type="submit" class="btn btn-primary btn-sm text-white mr-3">
            See More
          </button>
        </form> 
      </div>
    </div>
  </div>
</div>
{{/each}}