<div class="container">
  <div class="card-body">
    <h2>Congrats!</h2>
    <p>Your order was registered properly and the kitchen is heating up.</p>
    <p>Stop by your favourite Corner Food in about 20 mins.</p>
  </div>
</div>