<!-- Footer class="page-footer font-small blue-grey lighten-5"-->
{{!-- <div class="footer"></div>
<footer class="page-footer font-small blue-grey lighten-5" style="position: relative;bottom: 0%;width: 100%"> --}}

<!-- Footer class="page-footer font-small blue-grey lighten-5"-->
<div class="footer">
<footer class="page-footer font-small blue-grey lighten-5" style="position: relative;bottom: 0%;width: 100%">

    <div "container-fluid bg-primary py-3">
      <div class="container" id="pageFooter">
            <div class="imagen">
              {{!-- <img src="https://res.cloudinary.com/corner-food/image/upload/v1556906538/corner-food/Corner_Food_logo_qnsc2z.png"> --}}
            </div>
      </div>
    </div>

    <div class="container">
        <div class="text-center center-block">
              <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Corner Food</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Corner Food is a different way to get food and have a shared work space.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
 
        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p> Madrid, Bravo Murillo, ES</p>
          <p>cornerfood.ironhack@gmail.com</p>
          <p>+ 34 911 11 11 11</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
      <a class="dark-grey-text" href="/home"> Cornerfood.com</a>
    </div>
    <!-- Copyright -->

</footer>
</div>
  <!-- Footer -->