<nav class="navbar navbar-light" style="background-color: #e6e85b;">
  <a class="navbar-brand" href="/home">Corner Food</a>
    {{#if session}}
    {{!-- <h4>Hi There, {{session.username}}</h4> --}}
    <h4></h4>
      {{#hasRole ./session 'ADMIN'}}
        <h5><a href="/admin/pedidos" style="color:inherit;text-decoration:none;">Active Orders</a></h5>
        <h5><a href="/new" style="color:inherit;text-decoration:none">Create New Plate</a></h5>
      {{else}}
        <h5><a href="/historico" style="color:inherit;text-decoration:none;">Past Orders</a></h5>
        <h5><a href="/cesta" style="color:inherit;text-decoration:none;">Basket</a></h5>
      {{/hasRole}}
      <a class="navbar-brand" href="/logout">Log Out</a>
    {{/if}}
</nav>