
{{#unless user}}
  {{!-- Home page --}}
  <div class="mx-auto" style="width: 300px" "height: 300px">
    <a href="/authenticate/google"><button type="submit" class="btn btn-primary">Login with Google</button></a>
  </div>
{{/unless}}