<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CornerFood</title>
  {{!-- <meta name="google-signin-client_id" content="662378768091-d475vru9v4lb18n7d6e1boeae7m2lla2.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script> --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {{>navbar }}
  {{{body}}}
</body>
</html>