html, body {
  height: 100%;
}

body {
  background: #69cab3; 
}

.home {
  margin: 0 auto;
}

#pageFooter{
  width: 90%;
  height: 90%;
  display: flex;
}


.imagen {
  width: 30%;
  height: 30%;
}

.letra {
  display: inline;
  display: right;
}



.footer {
  border: 1px solid;
  /* sticky style */
  position: relative;
  width: 100%;
  bottom: 0;
  height: 100px;
}

button {
  margin: 10px 0;
}